torch
torchvision
pandas==1.4.2
xarray==2022.3.0
numpy 
scipy==1.8.1
GPUtil
dill
tensorboardX
tables
scikit-learn
seaborn
cox
matplotlib==3.5.2
seaborn==0.12.1
networkx
pytest
pyrallis
termcolor
natsort
pykernel
netcdf4
